<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>{{title}}</title>
    
    <!-- Bootstrap Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- jQuery Core 3.2.1 - minified,  -->
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>

	<!-- Bootstrap Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='/stylesheets/portfolio.css' />
  </head>
  
  <body>
	
<!-- NAVIGATION BAR -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Ricky Lee Grams</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/">About</a></li>
	        <li><a href="/portfolio">Portfolio</a></li>
	        <li><a href="/contact">Contact</a></li>
	        <li><a href="https://drive.google.com/file/d/0B080TWrDMxL1a29RRG0xZmNncDA/view?usp=sharing">Resume</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<!-- MAIN BODY -->
	
	<div class="container">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h1>Portfolio</h1>
						</div>

						<div class="list-group">
							
							<div class="panel panel-default">
							  <div class="panel-body">
							   <a href="https://rix-hangman-game.herokuapp.com/" target="_blank"><img border="0" alt="Lebowski" src="images/lebowski.png" class="img-fluid" width="300" height="300"></a>
							  </div>
							  <div class="panel-footer">Big Lebowski Hangman Game</div>
							</div>
	

							<div class="panel panel-default">
							  <div class="panel-body">
							   <a href="https://rixcrystalsgame.herokuapp.com/" target="_blank"><img border="0" alt="Crystals" src="images/crystals.png" class="img-fluid" width="300" height="300"></a>
							  </div>
							  <div class="panel-footer">Crystals Collector Game</div>
							</div>

							<div class="panel panel-default">
							  <div class="panel-body">
							   <a href="https://fridge2table.herokuapp.com/" target="_blank"><img border="0" alt="Crystals" src="images/F2T.png" class="img-fluid" width="300" height="300"></a>
							  </div>
							  <div class="panel-footer">Fridge 2 Table</div>
							</div>
								
							<div class="panel panel-default">
							  <div class="panel-body">
							   <a href="https://github.com/rixgithub/bitcoinBuddy" target="_blank"><img border="0" alt="Crystals" src="images/bitcoin.png" class="img-fluid" width="300" height="300"></a>
							  </div>
							  <div class="panel-footer">Bitcoin Buddy</div>
							</div>

							<div class="panel panel-default">
							  <div class="panel-body">
							   <a href="https://rix90trivia.herokuapp.com/" target="_blank"><img border="0" alt="Crystals" src="images/90210.png" class="img-fluid" width="300" height="300"></a>
							  </div>
							  <div class="panel-footer">90210 Trivia Game</div>
							</div>

							<div class="panel panel-default">
							  <div class="panel-body">
							   <a href="https://github.com/rixgithub/liri-node-app" target="_blank"><img border="0" alt="Crystals" src="images/LIRI.png" class="img-fluid" width="300" height="300"></a>
							  </div>
							  <div class="panel-footer">LIRI Node CLI App</div>
							</div>

							<div class="panel panel-default">
							  <div class="panel-body">
							   <a href="https://rixfriendfinder.herokuapp.com/" target="_blank"><img border="0" alt="friend Finder" src="images/friendFinder.png" class="img-fluid" width="300" height="300"></a>
							  </div>
							  <div class="panel-footer">Friend Finder</div>
							</div>

						</div>


					</div>
				</div>
			</div>

			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="list-group">
							<a href="https://github.com/rixgithub" target="_blank"><img src="images/github.jpg" class="social" alt="GitHub"></a>
			    			<a href="https://www.linkedin.com/in/ricky-grams/" target="_blank"><img src="images/linked.png" class="social" alt="LinkedIn"></a>
			    			<a href="http://stackoverflow.com/users/7388909/rixstack?tab=profile" target="_blank"><img src="images/stack.png" class="social" alt="Stack Overflow"></a>
						</div>
					</div>
				</div>
			</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p>&copy; 2017 Ricky Lee Grams</p>
		</div>
	</footer>

  </body>

</html>